.dart_tool/
.packages
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

.idea/
.vscode/

*.iml
*.log

.DS_Store

android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/.last_build_id/

macos/Pods/
macos/Flutter/ephemeral/

